<!doctype html>
<html ng-app="biblio">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link rel="shortcut icon" href="img/2-logo-centre-couleurs.jpg"/> 
	<link rel="stylesheet" href="css/creation-utilisateur.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="shortcut icon" href="img/2-logo-centre-couleurs.jpg"/> 
	
	<!-- Dependance  -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<!-- Routage de toutes les pages -->
	<script src="js/biblio/biblio.js"></script>	
	
	<!-- Controleur -->
	<script src="js/biblio/controller/ConnexionCtrl.js"></script>
	<script src="js/biblio/controller/CreationAdherentCtrl.js"></script>
	<script src="js/biblio/controller/creationMediaCtrl.js"></script>
	<script src="js/biblio/controller/ModificationAdherentCtrl.js"></script> 	
	<script src="js/biblio/controller/ModificationMediaCtrl.js"></script>
	<script src="js/biblio/controller/rechercheAdherentCtrl.js"></script>
	<script src="js/biblio/controller/RechercheMediaCtrl.js"></script>
	<script src="js/biblio/controller/MainCtrl.js"></script>	

	<!-- Controleur Modal -->
	<script src="js/biblio/controller/ModalRechercheMediaCtrl.js"></script>
	<script src="js/biblio/controller/ModalRechercheAdherentCtrl.js"></script>	

	<!-- Service  -->
	<script src="js/biblio/service/serviceAdherent.js"></script> 	
	<script src="js/biblio/service/media.js"></script>
	<script src="js/biblio/service/serviceConnexion.js"></script>
	<script src="js/biblio/service/serviceEmprunt.js"></script>
	
</head>
<body ng-controller="MainCtrl">
	<ng-view ng-if="isConnected()"></ng-view> 
	<div ng-if="!isConnected()">
		<div ng-include="'./view/biblio/connexion.html'"></div>
	</div>
</body>
</html>