<div id="wrap">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a href="#" class="thumbnail"> <img
						src="img/2-logo-centre-couleurs.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="formConnexion" x-ng-submit="connecter()" novalidate>
							<div class="form-group">
								<label for="identifiant">Identifiant</label> <input type="text"
									class="form-control" id="identifiant" name="email"
									x-ng-model="email" placeholder="Email" required>
							</div>

							<div x-ng-if="formConnexion.email.$dirty" x-ng-messages="formConnexion.email.$error">
								<div x-ng-messages-include="html/biblio/erreur.html"></div>
							</div>

							<div class="form-group">
								<label for="mot_de_passe">Mot de passe</label> 
								<input type="password" class="form-control" id="mot_de_passe"
									placeholder="Password" name="password" x-ng-model="password"
									required>
							</div>

							<div x-ng-if="formConnexion.password.$dirty" x-ng-messages="formConnexion.password.$error">
								<div x-ng-messages-include="html/biblio/erreur.html"></div>
							</div>

							<div x-ng-show="formConnexion.$invalid">
								<div x-ng-show="formConnexion.password.$error.pattern"
									class="alert alert-danger" role="alert">
									Un mot de passe valide aura: <br> - de 8 à 15 caracteres
									<br> - au moins une lettre minuscule <br> - au moins
									une lettre majuscule <br> - au moins un chiffre <br>
									- au moins un de ces caracteres speciaux: $ @ % * + - _ ! <br>
									- aucun autre caractère possible
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-md-offset-4">
									<button type="submit" class="btn btn-success">Valider</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7 col-md-offset-2">
									<a href="connexion.html">Mot de passe oublie</a>
								</div>
							</div>


						</form>
					</div>
				</div>
			</div>
			<div x-ng-include="'./html/biblio/footer.html'"></div>
		</div>
	</div>
</div>