<div x-ng-include="'./html/biblio/header.html'"></div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name="formAdh" x-ng-submit="validAdherent()" novalidate>
					<div class="form-group">
						<label for="Nom">Nom*</label> <input type="text" name="nom"
							class="form-control" id="nom" placeholder="Nom"
							x-ng-model="toAddAdherent.nom" x-ng-minlength="2"
							x-ng-maxlength="20">
						<div x-ng-messages="formAdh.nom.$error">
							<div x-ng-messages-include="html/biblio/erreur.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="prenom">Prenom*</label> <input type="text"
							name="prenom" class="form-control" id="prenom"
							placeholder="Prenom" x-ng-model="toAddAdherent.prenom"
							x-ng-minlength="2" x-ng-maxlength="20">
					</div>
					<div x-ng-messages="formAdh.prenom.$error">
						<div x-ng-messages-include="html/biblio/erreur.html"></div>
					</div>
					<div class="form-group">
						<label for="date_nat">Date de naissance*</label> <input
							name="date" type="date" class="form-control" id="date_nat"
							placeholder="Date de naissance"
							x-ng-model="toAddAdherent.dateNat">
						<div x-ng-messages="formAdh.date.$error">
							<div x-ng-messages-include="html/biblio/erreur.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="email">Email*</label> <input type="email" name="email"
							class="form-control" id="email" placeholder="Mail"
							x-ng-model="toAddAdherent.email">
						<div x-ng-messages="formAdh.email.$error">
							<div x-ng-messages-include="html/biblio/erreur.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="adresse">Adresse</label> <input type="text"
							class="form-control" id="adresse" placeholder="Adresse"
							x-ng-model="toAddAdherent.adresse">
					</div>
					<div class="form-group">
						<label for="BP">Code postal</label> <input type="number" name="codePostal"
							class="form-control" id="BP" placeholder="Code postal"
							x-ng-model="toAddAdherent.codePost" min="0" max="99999">
					</div>
					<div x-ng-messages="formAdh.codePostal.$error">
						<div x-ng-messages-include="html/biblio/erreur.html"></div>
					</div>
					<div class="form-group">
						<label for="ville">Ville</label> <input type="text"
							class="form-control" id="ville" placeholder="Ville"
							x-ng-model="toAddAdherent.ville">
					</div>
					<div class="form-group">
						<label for="paiement">Date de paiement</label> <input type="date"
							class="form-control" id="paiement" placeholder="Date de paiement"
							x-ng-model="toAddAdherent.datePaie">
					</div>
					<div class="form-group">
						<label for="montant">Montant</label> <input type="number"
							name="montant" class="form-control" id="montant"
							placeholder="Montant" x-ng-model="toAddAdherent.montant"
							x-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
					</div>
					<div x-ng-messages="formAdh.montant.$error">
						<div x-ng-messages-include="html/biblio/erreur.html"></div>
					</div>
					<div class="col-md-6 col-md-offset-4">
						<button class="btn btn-success" type="submit">
							<span class="glyphicon glyphicon-ok"></span><b> Enregistrer</b>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div x-ng-include="'./html/biblio/footer.html'"></div>