<body>
<div id="wrap">		
	<div class="container">
		<div x-ng-include="'view/biblio/header.html'"></div>

	<div class="row">
		<form id="form">
			<div class="form-group">
		      <div class="col-xs-4">
		        <input class="form-control" id="ex1" type="text" x-ng-model="toAddMedia.titre" placeholder="Recherche par titre">
		      </div>
		      <div class="col-xs-4">
		        <input class="form-control" id="ex2" type="text" x-ng-model="toAddMedia.auteur" placeholder="Reherche par nom d'auteur">
		      </div>
		      <div class="btn-group col-xs-4">
				<!-- Single button -->
		  <button type="button" class="btn btn-default dropdown-toggle" x-ng-model="toAddMedia.type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Livre <span class="caret"></span>
		  </button>
			<ul class="dropdown-menu">
				<li><a href="#">CD</a></li>
				<li><a href="#">Livre</a></li>
				<li><a href="#">DVD</a></li>
			</ul>
			<button type="button" x-ng-click="RechercheMedia()" class="btn btn-info col-xs-offset-1">Rechercher</button>
		</div>
	 		</div>
	 	</form>
	</div>
	<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Trie
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li><a href="#">Titre média</a></li>
				<li><a href="#">nom d'auteur</a></li>
				<li><a href="#">Type média</a></li>
			</ul>
	</div>
	<div id="table" class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td><label>Titre du m&eacute;dia</label></td>
				<td><label>Type du m&eacute;dia</label></td>
				<td><label>Auteur du m&eacute;dia</label></td>
				<td><label>Emprunteur</label></td>
				<td><label>Date de retour pr&eacute;vu</label></td>
			</tr>
			<tr x-ng-repeat="obj in list" ng-click="open(obj.id)" >
				<td>{{obj.titre}}</td>
				<td>{{obj.type}}</td>
				<td>{{obj.auteur}}</td>
				<td>{{obj.emprunteur.nom}}</td>
				<td>{{obj.emprunteur.cotisation.fin}}</td>				
			</tr>	
		</table>
	</div>
	<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<nav>
					  <ul class="pagination">
					    <li class="disabled">
					      <span>
					        <span aria-hidden="true">&laquo;</span>
					      </span>
					    </li>
					    <li>
					      <span>1 <span class="sr-only">(current)</span></span>
					    </li>
					     <li>
					      <span>2<span class="sr-only">(current)</span></span>
					    </li>
					     <li>
					      <span>2 <span class="sr-only">(current)</span></span>
					    </li>
					     <li>
					      <span>3 <span class="sr-only">(current)</span></span>
					    </li>
					     <li class="active">
					      <span>4<span class="sr-only">(current)</span></span>
					    </li>
					     <li>
					      <span>...<span class="sr-only">(current)</span></span>
					    </li>
					     <li>
					      <span>8<span class="sr-only">(current)</span></span>
					    </li>
					  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>		
</body>
</html>