<div x-ng-include="'./view/biblio/header.html'"> </div> 
<div id="wrap" x-ng-app="biblio">		
	<div class="container">
		<div class="row">
			<form id="form">
				<div class="form-group">
					<div class="col-xs-4">
						<input class="form-control" id="ex1" type="text" placeholder="rechercher par identifiant" x-ng-model="Adherent.id">
					</div>
					<div class="col-xs-4">
						<input class="form-control" id="ex2" type="text" placeholder="rechercher par nom" x-ng-model="Adherent.nom">
					</div>
					<div class="col-xs-4">
						<button type="button" x-ng-click="RechercheAhderent()" class="btn btn-info">Rechercher</button>
					</div>
				</div>
			</form>
		</div>
		
		<div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Trie <span class="caret"></span>
			</button>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li><a ng-click="orderByName()">Nom/prénom</a></li>
				<li><a href="#">date de naissance</a></li>
				<li><a href="ng-click=clickPredicateID()">Identifiant</a></li>
			</ul>

		</div>
		</div>
		
 		<div id="table" class="table-responsive">
			<table class="table table-hover">
				<tr>
					<td>
						<label ng-click="tri('id')">Identifiant<span class="caret"></span></label>
					</td>
					<td>
						<label ng-click="tri('nom')">Nom <span class="caret"></span></label>
					</td>
					<td>
						<label ng-click="tri('prenom')">Prénom<span class="caret"></span></label>
					</td>
					<td>
						<label ng-click="tri('date_naissance')">Date de naissance<span class="caret"></span></label>
					</td>
					<td>
						<label ng-click="tri('cotisation.montant')">Cotisation<span class="caret"></span></label>
					</td>
					<td>
						<label ng-click="tri('nombre_media')">Nombre de média en possession<span class="caret"></span></label>
					</td>
				</tr>
				<tr data-toggle="modal" data-target="#myModal"  ng-repeat="obj in list | orderBy:['nom' , 'prenom']"> 
					<td>{{obj.id}}</td>
					<td>{{obj.nom}}</td>
					<td>{{obj.prenom}}</td>
					<td>{{obj.date_naissance}}</td>
					<td>{{obj.cotisation.montant}}</td>
					<td>{{obj.nombre_media}}</td>
				</tr>		
			</table>
		</div>		
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<nav>
					<ul class="pagination">
						<li class="disabled">
							<span>
								<span aria-hidden="true">&laquo;</span>
							</span>
						</li>
						<li>
							<span>1 <span class="sr-only">(current)</span></span>
						</li>
						 <li>
							<span>2<span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>2 <span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>3 <span class="sr-only">(current)</span></span>
						</li>
						 <li class="active">
							<span>4<span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>...<span class="sr-only">(current)</span></span>
						</li>
						 <li>
							<span>8<span class="sr-only">(current)</span></span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>	
</div>
<div x-ng-include="'./view/biblio/footer.html'"> </div> 	
