<div x-ng-include="'./view/biblio/header.html'"> </div> 
<div id="wrap" x-ng-app="biblio">		
	<div class="container">
		<div class="row">
			<form id="form">
				<div class="form-group">
					<div class="col-xs-4">
						<input class="form-control" id="ex1" type="text" placeholder="rechercher par identifiant" x-ng-model="Adherent.id">
					</div>
					<div class="col-xs-4">
						<input class="form-control" id="ex2" type="text" placeholder="rechercher par nom" x-ng-model="Adherent.nom">
					</div>
					<div class="col-xs-4">
						<button type="button" x-ng-click="RechercheAhderent()" class="btn btn-info">Rechercher</button>
					</div>
				</div>
			</form>
		</div>
		
		<div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Trie <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<li><a href="#">Nom/prénom</a></li>
				<li><a href="#">date de naissance</a></li>
				<li><a href="#">Identifiant</a></li>
			</ul>
		</div>
		</div>
		
 		<div id="table" class="table-responsive">
			<table class="table table-hover">
				<tr>
					<td><label>Identifiant</label></td>
					<td><label>Nom</label></td>
					<td><label>Prénom</label></td>
					<td><label>Date de naissance</label></td>
					<td><label>Cotisation</label></td>
					<td><label>Nombre de média en possession</label></td>
				</tr>

				<tr x-ng-repeat="obj in list" x-ng-click="open(obj.id)">
					<td>{{obj.id}}</td>
					<td>{{obj.nom}}</td>
					<td>{{obj.prenom}}</td>
					<td>{{obj.date_naissance}}</td>
					<td>{{obj.cotisation.montant}}</td>
					<td>{{obj.nombre_media}}</td>

				</tr>
			
								
			</table>
		</div>

<!-- modal -->
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<nav>
					<ul class="pagination">
						<li class="disabled">
							<span>
								<span aria-hidden="true">&laquo;</span>
							</span>
						</li>
						<li>
							<span>1 <span class="sr-only">(current)</span></span>
						</li>
						 <li>
							<span>2<span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>2 <span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>3 <span class="sr-only">(current)</span></span>
						</li>
						 <li class="active">
							<span>4<span class="sr-only">(current)</span></span>
						</li>
						<li>
							<span>...<span class="sr-only">(current)</span></span>
						</li>
						 <li>
							<span>8<span class="sr-only">(current)</span></span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>	
</div>
<div x-ng-include="'./view/biblio/footer.html'"> </div> 	
